    <!-- 外部javascript -->

    <script src="../libs/charisma/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- 用于cookie管理的库-->
    <script src="../libs/charisma/js/jquery.cookie.js"></script>
    <!-- 日历插件 -->
    <!-- <script src="bower_components/moment/min/moment.min.js"></script>
    <script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script> -->
    <!-- 数据表插件-->
    <script src="../libs/charisma/js/jquery.dataTables.min.js"></script>

    <!-- 选择或下拉增强器-->
    <script src="../libs/charisma/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- 弹出层插件 -->
    <script src="../libs/charisma/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- 通知插件 -->
    <!-- <script src="js/jquery.noty.js"></script> -->
    <!-- 响应式表格 -->
    <script src="../libs/charisma/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- 指导插件 -->
    <!-- <script src="bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script> -->
    <!-- 评星级插件 -->
    <!-- <script src="js/jquery.raty.min.js"></script> -->
    <!-- 用于iOS风格的切换开关-->
    <!-- <script src="js/jquery.iphone.toggle.js"></script> -->
    <!-- 自动增长的文本区域插件 -->
    <!-- <script src="js/jquery.autogrow-textarea.js"></script> -->
    <!-- 多文件上载插件-->
    <!-- <script src="js/jquery.uploadify-3.1.min.js"></script> -->
    <!-- 用于Ajax上跨浏览器状态更改的history.js-->
    <!-- <script src="js/jquery.history.js"></script> -->
    <!-- application script for Charisma demo -->
    <script src="../libs/charisma/js/charisma.js"></script>
    <script src="js/home.js"></script>
</body>
</html>