<%- include header %>

<div class="ch-container">

    <!--/fluid-row-->
    <div class="row">

        <!-- left menu starts -->
        <%- include left %>
        <!--/span-->
        <!-- left menu ends -->

        <noscript>
            <div class="alert alert-block col-md-12">
                <h4 class="alert-heading">Warning!</h4>

                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a>
                    enabled to use this site.</p>
            </div>
        </noscript>

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Gallery</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-picture"></i> Gallery</h2>

                           
                        </div>
                        <div class="box-content">
                            <br>
                            <ul class="thumbnails gallery">
                                <li id="image-1" class="thumbnail">
                                    <a style="background:url(https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/1.jpg)"
                                        title="Sample Image 1"
                                        href="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/1.jpg"
                                        class="cboxElement"><img class="grayscale"
                                            src="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/1.jpg"
                                            alt="Sample Image 1" style="display: block;"></a>
                                </li>
                                <li id="image-2" class="thumbnail">
                                    <a style="background:url(https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/2.jpg)"
                                        title="Sample Image 2"
                                        href="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/2.jpg"
                                        class="cboxElement"><img class="grayscale"
                                            src="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/2.jpg"
                                            alt="Sample Image 2"></a>
                                </li>
                                <li id="image-3" class="thumbnail">
                                    <a style="background:url(https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/3.jpg)"
                                        title="Sample Image 3"
                                        href="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/3.jpg"
                                        class="cboxElement"><img class="grayscale"
                                            src="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/3.jpg"
                                            alt="Sample Image 3" style="display: block;"></a>
                                </li>
                                <li id="image-4" class="thumbnail">
                                    <a style="background:url(https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/4.jpg)"
                                        title="Sample Image 4"
                                        href="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/4.jpg"
                                        class="cboxElement"><img class="grayscale"
                                            src="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/4.jpg"
                                            alt="Sample Image 4" style="display: block;"></a>
                                </li>
                                <li id="image-5" class="thumbnail">
                                    <a style="background:url(https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/5.jpg)"
                                        title="Sample Image 5"
                                        href="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/5.jpg"
                                        class="cboxElement"><img class="grayscale"
                                            src="https://raw.githubusercontent.com/usmanhalalit/charisma/1.x/img/gallery/thumbs/5.jpg"
                                            alt="Sample Image 5" style="display: block;"></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!--/span-->

            </div>
            <!--/row-->

            <!-- content ends -->
        </div>
        <!--/#content.col-md-0-->
    </div>

</div>
<!--/.fluid-container-->


<%- include footer %>